.add-list-item {
  margin-top: 0.5em;
}
.list-title-input {
  width: 100%;
  min-width: 10em;
  margin-bottom: 0.5em;
}
.list-item {
  display: flex;
  input {
    font-size: 0.9em;
    flex: 1;
  }
}
.modal {
  position: absolute;
  border: none;
  text-align: left;
  background-color: #eee;
  top: 50%;
  left: 50%;
  right: auto;
  min-width: 50vw;
  min-height: 85vh;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 1.5em;
  .list-items {
    max-height: 60vh;
    overflow: auto;
  }

  input {
    border: 0;
    border-bottom: 1px solid silver;
    background: transparent;
    color: rgb(65, 65, 65);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.list-modal {
  &.icon-trash-empty {
    position: absolute;
    right: 0.3em;
    bottom: 0.3em;
    // float: right;
  }
  input {
    border: 1px solid green;
  }
}

.lists {
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; // so they don't grow
  // align-content: center;
  justify-content: center;
}
.list {
  &.create-list {
    width: 80%;
    margin: 0.6em auto;
  }

  margin: 0.2em;
  border: 2px solid $list-border-color;
  width: 10em;
  border-radius: 0.2em;
  color: $list-color;
  background: $list-bg;
  * {
    font-size: 0.8em;
    text-align: left;
  }
  h2 {
    padding: 0.2em;
    margin: 0.2em;
    text-align: left;
  }
  // header {
  // }
  main {
    max-height: 5em;
    min-height: 2em;
    padding-left: 0.2em;
    overflow: hidden;
  }
  footer {
    text-align: right;
  }
}
