.add-list-item {
  margin-top: 0.5em;
}
.list-title-input {
  width: 100%;
  min-width: 10em;
  margin-bottom: 0.5em;
}
.list-item {
  display: flex;
  input {
    font-size: 0.9em;
    flex: 1;
  }
}
.modal {
  position: absolute;
  border: none;
  text-align: left;
  background-color: #eee;
  top: 50%;
  left: 50%;
  right: auto;
  min-width: 50vw;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 1.5em;
  input {
    border: 0;
    border-bottom: 1px solid silver;
    background: transparent;
    color: rgb(65, 65, 65);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.list-modal {
  &.icon-trash-empty {
    position: absolute;
    right: 0.3em;
    bottom: 0.3em;
    // float: right;
  }
  input {
    border: 1px solid green;
  }
}

.lists {
  padding: 0.2em;

  .list {
    margin: 0.2em;
    border: 2px solid $list-border-color;
    width: 12em;
    float: left;
    border-radius: 0.2em;
    color: $list-color;
    background: $list-bg;
    * {
      font-size: 0.8em;
      text-align: left;
    }
    h2 {
      padding: 0.2em;
      margin: 0.2em;
      text-align: left;
    }
    // header {
    // }
    main {
      min-height: 2em;
    }
    footer {
      text-align: right;
    }
  }
  // .icon-pencil {
  //   float: right;
  // }
  // .icon-trash-empty {
  //   float: left;
  // }
}
