.App-main {
  color: white;
}

.create-list-form {
  input {
    background: rgb(207, 207, 207);
    border: 0.1em solid silver;
    height: 2em;
    // padding: 0.4em 1em;
    padding: 0.4em 1em 0.4em 0.4em;
    border-radius: 0.4em;
    margin: 0;
    &[type='submit'] {
      padding: 0.4em 1em;
      color: $button-foreground;
      background: $button-background;
      line-height: 0.9em;
      border-color: $button-foreground;
    }
  }
}
