$header-bg: #282c34;
$body-bg: #374258;
$footer-bg: #282c34;

$list-border-color: rgb(145, 145, 145);
$list-bg: #282c34;
$list-header-bg: #282c34;
$list-color: #ddd;
$list-footer-bg: #282c34;

$border-radius: 0.2em;
