// $link-primary: $orange;
// $link-secondary: $blue;
// $link-tertiary: $grey;

// $color-primary: $orange;
// $color-secondary: $blue;
// $color-tertiary: $grey;

// $background-primary: $orange;
// $background-secondary: $blue;
// $background-tertiary: $grey;

$header-bg: #282c34;
$body-bg: #374258;
$footer-bg: #282c34;

$list-border-color: rgb(145, 145, 145);
$list-bg: #282c34;
$list-header-bg: #282c34;
$list-color: #ddd;
$list-footer-bg: #282c34;

$border-radius: 0.2em;
